body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.row-image{
	width: 100px;
	height: 100px;
}


.row-image2{
	width: 287px;
	height: 287px;
}

.card-body{
		width: 500px;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}


.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.bg-dark{
	background-color: #4f868c!important;
}

table2 {
  border-collapse: separate;
  border-spacing: 15px 50px;
}

th {
  background-color: #4CAF50;
  color: white;
}

th,td{
	text-align: center;
  border-bottom: 1px solid #ddd;
	padding: 10px;
}

tr:hover {background-color: #f5f5f5;}
