{% extends 'book/base.html' %}
{% block body_block %}
   <div class="jumbotron">
   <h1>A book is a set of printed sheets of paper held together between two covers. The sheets of paper are usually covered with a text, language and illustrations. The book is a more flexible format than the earlier idea of the scroll. The change from scrolls to books began in the Roman Empire, and took many centuries to become complete.
	<br>
	A writer of a book is called an author. Someone who draws pictures in a book is called an illustrator. Books can have more than one author or illustrator.
	<br>
	A book can also be a text in a larger collection of texts. That way a book is perhaps written by one author, or it only treats one subject area. Books in this sense can often be understood without knowing the whole collection. Examples are the Bible, the Illiad or the Odyssey – all of them consist of a number of books in this sense of the word. Encyclopedias often have separate articles written by different people, and published as separate volumes. Each volume is a book. 
</h1>   </div>
{% endblock %}